<template name="header">
    <header class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Apartment Hunter</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul id="nav_list" class="nav navbar-nav navbar-right">
                <li><a id="new_apartment" href="{{pathFor 'apartmentList'}}">Add New Apartment</a></li>
                <li><a id="list_view" href="{{pathFor 'apartmentList'}}">List View</a></li>
                <li><a id="map_view" href="{{pathFor 'apartmentList'}}">Map View</a></li>
            </ul>
        </div>
    </header>
</template>